<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2024 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Tigren\Testimonial\Api\TestimonialRepositoryInterface" type="Tigren\Testimonial\Model\TestimonialRepository" />
    <preference for="Tigren\Testimonial\Api\Data\TestimonialInterface" type="Tigren\Testimonial\Model\Testimonial" />

    <type name="Tigren\Testimonial\Controller\Adminhtml\Index\Save">
        <arguments>
            <argument name="dataProcessor" xsi:type="object">
                Tigren\Testimonial\Controller\Adminhtml\Index\PostDataProcessor
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="testimonial_listing_data_source" xsi:type="string">
                    Tigren\Testimonial\Model\ResourceModel\Testimonial\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Tigren\Testimonial\Model\ResourceModel\Testimonial\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">testimonial</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\Testimonial\Model\ResourceModel\Testimonial
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Tigren\Testimonial\TestimonialImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">testimonial/tmp/image</argument>
            <argument name="basePath" xsi:type="string">testimonial/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Tigren\Testimonial\Controller\Adminhtml\Index\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Tigren\Testimonial\TestimonialImageUpload</argument>
        </arguments>
    </type>
</config>
