<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2024 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Tigren_Testimonial::testimonial_manager" title="Testimonial" translate="title" sortOrder="10">
                    <resource id="Tigren_Testimonial::save" title="Save Testimonial" translate="title" sortOrder="10" />
                    <resource id="Tigren_Testimonial::delete" title="Delete Testimonial" translate="title" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
